/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

.container {
  // position: relative;
  // width: 90%;
  // max-width: 1560px;
  // margin: 0 auto;

  @include breakpoint(lg) {
    // width: 90%;
  }
}

.content-bg {
  width: 100%;
  margin-bottom: 225px;
  background-color: $white;
  min-height: 100vh;

  @include breakpoint(md) {
    // min-height: 100vh;
  }
}

body.default { margin-top: 100px; }


// Transition fade between pages
.content-bg,
.site-footer {
    opacity: 1;
    transition: 1s opacity;
}
.content-bg.fade-out,
.site-footer.fade-out {
    opacity: 0;
    transition: none;
}

// Footer needs to fade in after main content
.site-footer {
  transition-delay: 1s;
}
