html {
  /* apply a natural box layout model to all elements, but allowing components to change */
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  background-color: #FFF;
}

.main-container {
  @include breakpoint(md){
    margin: 0 auto;
    background-color: #FFF;
    min-height: 100vh;
  }
}

html {
  background: $black;
}