
html {
  /* apply a natural box layout model to all elements, but allowing components to change */
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

.container {
  // position: relative;
  // width: 90%;
  // max-width: 1560px;
  // margin: 0 auto;

  @include breakpoint(lg) {
    // width: 90%;
  }
}

.content-bg {
  width: 100%;
  margin-bottom: 225px;
  background-color: $white;
  min-height: 100vh;

  @include breakpoint(md) {
    // min-height: 100vh;
  }
}

body.default { margin-top: 100px; }

.main-content-wrapper {
  min-height: calc(100vh - 100px);
}