// 62.5% * 16px = 10px base font size
html { font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "maison neue", sans-serif;
  font-weight: 300;
  color: $dark-text-color;

  @include breakpoint(xsonly) {
    font-size: 1.4rem;
  }
}

.list-item {
  font-size: 1.6rem;
  font-family: "maison neue", sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  color: $dark-text-color;
}

p {
  font-size: 1.6rem;
  font-family: "maison neue", sans-serif;
  font-weight: 100;
  line-height: 1.75em;
  color: $dark-text-color;
  margin: 0 0 1rem;
  max-width: 50em;
}

.p {
  font-size: 1.6rem;
  font-family: "maison neue", sans-serif;
  font-weight: 100;
  line-height: 1.6em;
  color: $dark-text-color;
}

.p-small {
  font-size: 1.4rem;
}

.p-large {
  font-size: 2rem;

  @include breakpoint(lg) {
    font-size: 2rem;
  }
}

.label {
  font-size: 1.4rem;
  color: $light-text-color;
}

h1, .h1 {
  font-size: 3rem;
  line-height: 1.4em;
  // font-family: "maison neue", sans-serif;
  font-family: "tiempos text", sans-serif;
  font-weight: 100;
  color: $dark-text-color;
  letter-spacing: -.01em;

  @include breakpoint(md) {
    line-height: 1.4em;
    font-size: 5rem;
  }
}

h2, .h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 2rem;
}

.light {
  color: $light-text-color;
}

.page-heading {
  // font-family: "tiempos text", sans-serif;
}