// 62.5% * 16px = 10px base font size
html { font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "maison neue", sans-serif;
  font-weight: 300;
  color: $dark-text-color;

  @include breakpoint(xsonly) {
    font-size: 1.4rem;
  }
}

.list-item {
  font-size: 1.6rem;
  font-family: "maison neue", sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  color: $dark-text-color;
}

p {
  font-size: 1.6rem;
  font-family: "maison neue", sans-serif;
  font-weight: 100;
  line-height: 1.75em;
  color: $dark-text-color;
  margin: 0 0 1rem;
  max-width: 50em;
}

.p {
  font-size: 1.6rem;
  font-family: "maison neue", sans-serif;
  font-weight: 100;
  line-height: 1.6em;
  color: $dark-text-color;
}

.p--on-dark {
  font-weight: 100;
  letter-spacing: .02em;
  color: $white;
}

.p--xsmall {
  font-size: 1.2rem;
}

.p--small {
  font-size: 1.4rem;
}

.p--large {
  font-size: 2rem;

  @include breakpoint(lg) {
    font-size: 2rem;
  }
}

.label {
  font-size: 1.6rem;
  color: $black-text-color;
  margin-bottom: .2em;
  font-weight: 900;

  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.label--on-dark {
  color: $white;
  letter-spacing: .03em;
  letter-spacing: .13em;
}

h1, .h1 {
  font-size: 3rem;
  line-height: 1.3;
  font-family: "maison neue", sans-serif;
  font-weight: 600;
  color: $dark-text-color;
  letter-spacing: .025em;

  @include breakpoint(md) {
    font-size: 4.2rem;
  }
}

h2, .h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: $dark-text-color;
  // margin-top: 2rem;

  @include breakpoint(md) {
    font-size: 3.6rem;
  }
}

.light {
  color: $light-text-color;
}

.page-heading {
  // font-family: "tiempos text", sans-serif;
}