// Variables
$white: #FFF;
$charcoal: #171817;
$dark-text-color: #333;

// 62.5% * 16px = 10px base font size
html { font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "clear sans", sans-serif;
  font-weight: 300;
  color: $dark-text-color;

  @include breakpoint(mobileonly) {
    font-size: 1.4rem;
  }
}

p {
  font-size: 1.6rem;
  font-family: "clear sans", sans-serif;
  font-weight: 200;
  line-height: 2.5rem;
  color: $dark-text-color;
  margin: 0 0 1rem;
}

h1, .h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-family: "clear sans", sans-serif;
  font-weight: 200;
  color: $dark-text-color;
}

h2, .h2 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .2em;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.on-dark {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6,
  p, .p {
    color: #FFF;
  }

  p {
    font-weight: 100;
    letter-spacing: .01em;
  }
}