body.about {
  margin-top: 100px;

  // About uses a dark theme
  .content-bg {
    background-color: $charcoal;
  }
}

.about-bg {
  position: fixed;
  display: none;
  background-color: $charcoal;
  overflow-y: scroll;
  height: 100vh;
}

.about-content {
  position: initial;
}