.site-footer {
  position: absolute;
  z-index: 1;
  padding: 50px 0 30px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;

  @include breakpoint(md) {
    padding: 80px 0 120px;
  }

  .grid {
    position: initial; //reset grid from fixed to normal flow
  }

  .h2 {
    margin-top: 0;
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 2em 0 0;
  }

  a {
    font-weight: 300;
    text-decoration: none;
    color: $dark-text-color;
  }
}

.footer-message {
  margin-bottom: 0;
  font-size: 1.1rem;
  padding-top: 15px;

  @include breakpoint(md) { text-align: right; }
  @include breakpoint(lg) { font-size: 1.4rem; }
}