.menu-btn {
  background-color: $black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
  border: none;
  position: fixed;
  top: $outer-padding;
  right: 10px;
  z-index: 9999;
  padding: 0;
  padding: 0;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;

  @include breakpoint(xs) {
    right: 35px;
    // margin-left: 1rem;
  }

  &:focus {
    outline: none;
  }
}

.site-title {
  position: fixed;
  top: 42px;
  left: 10px;
  z-index: 9998;
  color: $dark-text-color;
  font-weight: 100;
  text-decoration: none;
  font-size: 1.4rem;

  @include breakpoint(sm) {
    transform-origin: right center;
    transform: rotate(90deg) translate3d( 0, 0, 0);
    top: auto;
    left: auto;
    right: 55px;
    bottom: 30px;
    color: #FFF;
    mix-blend-mode: difference;
  }
}