.site-header {
  position: fixed;
  z-index: 9999;
  animation: fadeIn 1.5s forwards;
}

.back-button {
  position: absolute;
  left: 25px;
  margin-top: 28px;
  text-decoration: none;
  animation: fadeIn 1.5s forwards;

  @include breakpoint(sm) {
    left: calc(2.5% + 25px);
  }

  @media (min-width: 1490px) {
    left: calc(5% + 25px);
  }
}

.site-byline {
  position: fixed;
  visibility: hidden;

  @include breakpoint(sm) {
    visibility: visible;
    right: calc(2.5% + 15px);
    bottom: 20px;
    z-index: 9999;
    transform: rotate(90deg) translate3d(0px, 10px, 0);
    transform-origin: right bottom;
    font-weight: 300;
    font-size: 1.2rem;
    text-decoration: none;
    color: #FFF;
    text-rendering: geometricPrecision;
  }

  @media (min-width: 1490px) {
    right: calc(5% + 15px);
  }
}

.site-byline--on-dark {
  color: #000;
}