.hover-underline {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #FFFF00;
    transition: .4s;
  }
  &:hover:after {
    width: 100%;
  }
}

.hover-enlarge {
  transition: .1s ease all;

  &:hover {
    transform: scale(1.03);
  }
}