.arrow-link{
  position: relative;
  padding-right: 30px;
  letter-spacing: 0;
  font-size: 1.4rem;
  color: $dark-text-color;  color: #000;
  text-decoration: none;
  transition: .3s cubic-bezier(.34,.15,.31,.92);

  &:before,
  &:after {
    content: " ";
    width: 15px;
    height: 9px;
    position: absolute;
    right: 18px;
    opacity: 0;
    transition: .3s cubic-bezier(.34,.15,.31,.92);
    background-image: url(../assets/images/link-arrow-dark.svg);
    background-position: center;
    top: calc(50% - 5px);
  }
  &:after {
    right: 0;
    opacity: 1;
  }
}

.arrow-link:hover:before {
    transform: translate(23px, 0);
    opacity: 1;
}
.arrow-link:hover:after {
    transform: translate(23px, 0);
    opacity: 0;
}

.arrow-link--back {
  padding-right: 0;
  padding-left: 30px;

  &:before,
  &:after {
    right: 0;
    left: 18px;

    // Flip Arrow
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

  &:after {
    left: 0;
  }
}

.arrow-link--back:hover:before,
.arrow-link--back:hover:after {
    transform: translate(-23px, 0) scaleX(-1);
}

// Body Link
//————————————————————————————————————————————————————————
@keyframes underline-link {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  33% {
    width: 0%;
    left: auto;
    right: 0;
  }
  34% {
    width: 0%;
    left: 0;
    right: auto;
  }
  100% {
    width: 100%;
    left: 0;
    right: auto;
  }
}

.body-link {
  position: relative;
  color: initial;
  text-decoration: none;
  padding-bottom: 5px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #000;
    animation-duration: 1s;
    transition: 1s ease all;
  }

  &.hover:after{
    animation-name: underline-link;
  }
}