.hover-underline {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #FFF;
    transition: .4s;
  }
  &:hover:after {
    width: 100%;
  }
}

.secondary-link {
  text-decoration: none;
  letter-spacing: 0;
  font-size: 1.4rem;
  color: #000;

  &:hover {}
}