$container-width-lg: 90%;
$outer-padding: 30px;
$max-width: 1560px;

// -------------------------------
@keyframes slide-fade-in {
  0% {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-fade-out {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
}

.primary-nav__li {
  opacity: 0;
  animation-name: slide-fade-out;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
  animation-delay: 0;
}

.primary-nav.is-open {
  .primary-nav__li {
    animation-name: slide-fade-in;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
  }
}

@for $i from 1 through 6 {
  .primary-nav.is-open {
    .primary-nav__li:nth-child(#{$i}) {
      animation-delay: $i * .1s;
    }
  }
}

// -------------------------------

.opened-menu {
  opacity: 0;
  transition-duration: .2s;
}

// .closed-menu { opacity: 1; }

.menu-btn.is-open {
  .opened-menu {
    opacity: 1;
    transition-delay: .2s;
  }
  .closed-menu { opacity: 0; }
}

.menu-btn.is-open {
  .closed-menu__top,
  .closed-menu__middle,
  .closed-menu__bottom {
    width: 0;
  }

  .closed-menu__top {x: 0px}
  .closed-menu__middle {x: 22px}
  .closed-menu__bottom {x: 0px}
}

.primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  max-width: 90%;
  height: 100vh;
  background-color: $white;
  overflow: auto;
  padding-top: 120px;
  z-index: 9998;
  transform: translateX(-500px);
  transition: .2s ease all;

  @include breakpoint(md) {
    transform: translateX(-33vw);
    width: 33vw;
  }
}

.primary-nav__li {
  list-style: none;
}

.primary-nav.is-open {
  transform: translateX(0);
}

.project-item {
  font-size: 2.8rem;
  font-weight: 100;
  margin-bottom: .7em;
  font-family: "tiempos text", sans-serif;
  a {
    text-decoration: none;
    color: $dark-text-color;
    opacity: 1;
    transition: .2s ease all;
  }
  a:hover {
    opacity: .6;
  }
}

.page-item {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 0.7em;
  padding-top: 10px;

  a {
    text-decoration: none;
    color: $light-text-color;
    opacity: 1;
    transition: .2s ease all;
  }
  a:hover {
    opacity: .6;
  }
}

.primary-nav__ul {
  padding-left: 5%;
  margin-bottom: 200px;

  @include breakpoint(md) {
    padding: 0 60px;
    padding-left: calc(5vw + 1rem);
  }
}


.project-item__title {
  color: $white;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 300;
  margin: 1.5em 0 .5em;
}


// overlay
.full-screen-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: .15s ease all;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.full-screen-overlay.is-open {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  transition: .3s ease all;
}

.lock-scroll {
  overflow: hidden;
}