.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  color: white;
  mix-blend-mode: difference;
}

.nav__row {
  padding-left: 0;
}

.nav__list {
  display: inline-block;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  font-weight: 300;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -999; 
  }
}

.nav__list.is-active {
  a:after { border-bottom: 1px solid #FFF; }
}

.nav__list:hover {
  a:after { border-bottom: 1px solid #FFF; }
}