$container-width-lg: 90%;
$outer-padding: 30px;
$max-width: 1560px;

// -------------------------------
@keyframes slide-fade-in {
  0% {
    opacity: 0;
    // transform: translate3d(15%, 0, 0);
  }
  90% {
    // opacity: .5;
  }
  100% {
    opacity: .95;
    // transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-fade-out {
  0% {
    opacity: .95;
    // transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    // transform: translate3d(-20%, 0, 0);
  }
}

.primary-nav__li {
  opacity: 0;
  animation-name: slide-fade-out;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
  animation-delay: 0;
}

.primary-nav.is-open {
  .primary-nav__li {
    animation-name: slide-fade-in;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
  }
}

// -------------------------------

.opened-menu {
  opacity: 0;
  transition-duration: .2s;
}

#menu-btn__top-line,
#menu-btn__middle-line,
#menu-btn__bottom-line,
.menu-btn svg {
  transition: .2s;
  transition-timing-function: cubuc-bezier(0.5, 0.31, 0.84, 0.05);
}

.menu-btn.is-open {
  svg {
    transform: rotate(90deg);
  }
  #menu-btn__top-line {
    transform: translateX(3px) rotate(45deg);
    transform-origin: left;
  }
  #menu-btn__middle-line {
    opacity: 0;
  }
  #menu-btn__bottom-line {
    transform: translateX(3px)rotate(-45deg);
    transform-origin: left;
  }
}

.primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  overflow: auto;
  padding-top: 120px;
  z-index: 9998;
  transition: .2s ease all;
  transition-delay: .01s;
  visibility: hidden;
  opacity: 0;
  text-align: right;
  border-left: 5px solid $black;
  border-right: 5px solid $black;
}

.primary-nav__li {
  list-style: none;
}

.primary-nav.is-open {
  visibility: visible;
  opacity: .95;
}

.project-item {
  font-size: 2.8rem;
  font-weight: 100;
  margin-bottom: .7em;
  font-family: "tiempos text", sans-serif;
  a {
    text-decoration: none;
    color: $dark-text-color;
    opacity: 1;
    transition: .2s ease all;
  }
  a:hover {
    opacity: .6;
  }
}

.page-item {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 0.7em;
  padding-top: 10px;

  a {
    text-decoration: none;
    color: $light-text-color;
    opacity: 1;
    transition: .2s ease all;
  }
  a:hover {
    opacity: .6;
  }
}

.primary-nav__ul {
  padding-left: 5%;
  margin-bottom: 200px;
  margin-right: 35px;

  @include breakpoint(md) {
    // padding: 0 60px;
    margin-right: 80px;
    // padding-left: calc(5vw + 1rem);
  }
}

.project-item__title {
  color: $white;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 300;
  margin: 1.5em 0 .5em;
}

.lock-scroll {
  overflow: hidden;
}