.project-card-menu {
  padding-bottom: 100px;
}

.hover-zoom {
  display: block;
  overflow: hidden;
  position: relative;
  pointer-events: auto;
  margin-bottom: 1em;
}

.hover-zoom__image {
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 3s cubic-bezier(.2,.96,.34,1);
  transform: scale(1.1);
  display: block;
  object-fit: cover;
}

.project-card:hover .hover-zoom {
  // transform: scale(.5);
}

.project-card:hover .hover-zoom__image {
  transform: scale(1);
}

.project-card {
  text-decoration: none;
  // text-align: center;

  cursor: pointer;
  pointer-events: none;

  @include breakpoint(sm) {
    padding-left: 30px;
    padding-right: 30px;

    &:nth-child(2n - 1) {
      padding-left: 1rem;
    }

    &:nth-child(2n) {
      padding-right: 1rem;
    }
  }

  &:nth-child(2n) {



    @include breakpoint(sm) {

      // transform: translateY(50%);
      margin-bottom: 30px;
      padding-right: 1rem;
    }
  }
}

.project-card-link {
  // Remove pointer events and then add them back to areas that should be clickable. This is to prevent the empty space from triggering the hover effects.
  text-decoration: none;
  color: $dark-text-color;
  height: 100%;
  pointer-events: none;
  cursor: pointer;
}

.project-card__title {
  font-weight: 300;
  font-size: 2rem;
  text-transform: none;
  letter-spacing: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline;
  pointer-events: auto;
}

.project-card__tags {
  color: $light-text-color;
  font-size: 1.4rem;
}

.project-card-link:hover {

 .project-hover {
    opacity: 1;
  }
  .arrow-stem {
    transform: scaleX(1.2);
  }
}

// Arrow
.arrow-stem {
  overflow: visible;
  transition: .3s ease all;
  transform-origin: bottom right;
}
