// Animations
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––
@keyframes projectHeader{
  0% {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes projectTtile {
  0% {
    transform: translate3d(0, 15px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


// Header
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––
.project-header {
  animation: projectHeader 1s forwards;
}

.project-header__hero {
  width: 100%;
  height: 100%;
}

.project-header__info {
  padding-top: 18vh;
  padding-bottom: 16vh;
}

.project-title {
  margin: 0;
  padding-bottom: 0;
  animation: projectTtile 1s forwards;
}

.project-tags {
  padding-top: 5px;
  color: $light-text-color;
}

.project-overview {
  font-size: 2rem;
  line-height: 1.25;
  color: #7B7B7B;

  @include breakpoint(sm) {
    font-size: 1.8rem;
    line-height: 1.6;
    padding-top: .5em;
    max-width: 30em;
  }
}

// Details section
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––
.project-details {

  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoint(sm) {
    padding: 200px 0 150px;
  }
}

.description__tags,
.description__credits {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-description p {
  font-size: 1.8rem;
}

.project-credit {
  font-size: 1.4rem;
  line-height: 2;
}

// Images
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––
.full-bleed {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;

  @include breakpoint(sm) {
    padding-bottom: 40px;
  }
}

// Footer
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––
.project-pagination {
  text-decoration: none;
  padding: 40px 0 20px;
  pointer-events: none;

  @include breakpoint(sm) {
    padding: 100px 0 80px;
  }
}

.project-pagination__label {
  margin: 0;
}

.project-pagination__title {
  pointer-events: auto;
  transition: .1s ease all;
  display: inline;
  color: $dark-text-color;
  // border-bottom: 3px inset #FFF;

  &:hover {
    // border-bottom: 3px inset #000;
    opacity: .8;
  }
}