// Variables
$charcoal: #333;

.description__tags {
  list-style: none;
  padding: 0;

  & > li {
    color: lighten($charcoal, 50%);
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .05em;
  }
}