// Variables
$dark-text-color: #333;

.description {
  display: flex;
  justify-content: space-between;
}

.description__left {
  width: 75%;
}

.project__title {
  margin: 0;
}

.description__tags {
  list-style: none;

  & > li {
    color: lighten($dark-text-color, 50%);
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .05em;
  }
}