.site-intro {
  min-height: 70vh;
  display: flex;
  justify-content: center;
}

.intro-text {
  margin-top: 110px;
  font-weight: 300;
  max-width: 24em;

  @include breakpoint(md) {
    font-size: 4.4rem;
  }
}