.site-intro {
  // padding-top: 150px;
  // padding-bottom: 100px;

  min-height: 75vh;
  display: flex;
  justify-content: center;

  @include breakpoint(sm) {
    // padding-top: 27vh;
    // padding-bottom: 27vh;


  }
}

.intro-text {
  padding-top: 100px;
  // margin-bottom: 1em;
}