.site-intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.intro-text {
  max-width: 17em;
}

.site-intro__arrow {
  padding-top: 20vh;
  margin-bottom: -20vh;
}