<footer id="site-footer" class="site-footer">

  <div class="grid grid--align-end grid--bleed-bottom">
    <div class="grid__col-md-3">
      <p class="label label--on-dark label--large">Contact</p>
      <p class="p--small p--on-dark">
        <a class="footer-link" href="tel:1-805-748-3201">805 748 3201</a><br/ >
        <a class="footer-link" href="mailto:hello@neilspurgeon.com">hello@neilspurgeon.com</a><br />
      </p>
    </div>

    <div class="grid__col-md-3">
      <p class="label label--on-dark label--large">Elsewhere</p>
      <p class="p--small p--on-dark">
        <a class="footer-link" href="">LinkedIn</a><br/ >
        <a class="footer-link" href="">GitHub</a><br/ >
      </p>
    </div>

    <div class="grid__col-12">
      <p class="copyright p--on-dark p--xsmall">©2017 Neil Spurgeon. All Rights Reserved.</p>
    </div>

  </div>

</footer>