<footer class="site-footer fade-out">

  <div class="grid grid--align-end">

    <div class="grid__col-md-5">
      <h2 class="h2">SAY SOMETHING</h2>
      <ul>
        <li><a href="mailto:hello@neilspurgeon.com">hello@neilspurgeon.com</a></li>
        <li><a href="tel:1-805-748-3201">805 748 3201</a></li>
      </ul>
    </div>

    <div class="grid__col-md-4">
      <h2>ELSEWHERE</h2>
      <ul>
        <li><a href="">LinkedIn</a></li>
        <li><a href="">GitHub</a></li>
        <li><a href="">CodePen</a></li>
      </ul>
    </div>

    <div class="grid__col-md-3">
      <h3 class="h3 footer-message">♥ Neil Spurgeon 2013&nbsp;—&nbsp;2016</h3>
    </div>
  </div>

</footer>

<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/pixi.min.js" | prepend: site.baseurl }}"></script>