

    <a id="back-button" class="back-button"  href="{{ site.url }}" style="visibility:{% if page.title != "Home" and page.title != "About" %}visible{% else %} hidden {% endif %}">
      <img src="/assets/images/back-arrow.svg" style="width: 19px;"/>
      All Projects
    </a>
  <header id="site-header" class="site-header">

    <nav class="nav">
      <ul class="nav-ul">
        <li class="nav-li  {% if page.url != '/about/' %}active{% endif %}">
          <a class="nav-link" href="/">Work</a>
        </li>
        <li class="nav-li {% if page.url == '/about/' %}active{% endif %}">
          <a class="nav-link" href="/about/">About</a>
        </li>
      </ul>

    </nav>

    <span class="site-byline" href="{{ site.url }}">— Neil Spurgeon</span>

  </header>

  <div id="menu-overlay" class="full-screen-overlay"></div>