<header id="site-header" class="site-header">

  {% if !page.title == "Home" %}
    <a class="site-title site-title--back"  href="{{ site.url }}">
      <img src="/assets/images/back-arrow.svg" style="width: 19px;"/>
      All Projects
    </a>
  {% endif %}

  <button class="menu-btn" id="menu-btn">
    <div id="menu-btn__top-line"></div>
    <div id="menu-btn__middle-line"></div>
    <div id="menu-btn__bottom-line"></div>
  </button>

  <span class="site-byline" href="{{ site.url }}">— Neil Spurgeon</span>

</header>

<div id="menu-overlay" class="full-screen-overlay"></div>

{% include nav.html %}