<div class="top-border"></div>

<header id="site-header" class="site-header">

  <button class="menu-btn" id="menu-btn">
    <svg width="40px" height="40px">
      <line id="menu-btn__top-line" x1="10px" y1="13px" x2="30px" y2="13px" stroke-width="2px" stroke="#FFF"/>
      <line id="menu-btn__middle-line" x1="10px" y1="20px" x2="30px" y2="20px" stroke-width="2px" stroke="#FFF"/>
      <line id="menu-btn__bottom-line" x1="10px" y1="27px" x2="30px" y2="27px" stroke-width="2px" stroke="#FFF"/>
    </svg>
  </button>

  <a class="site-title" href="{{ site.url }}">— Neil Spurgeon</a>

</header>

<div id="menu-overlay" class="full-screen-overlay"></div>
{% include nav.html %}