<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.layout }}">

    <div class="container">

      {% include header.html %}
      <div class="grid">

        <section class="site-intro grid__col-12">
          <p class="p-large">Hello, I’m a digital product designer and developer living in California.</p>
          <a class="secondary-link hover-underline" href="#">More about me?</a>

          <span class="site-intro__arrow">
            <svg width="21px" height="38px" viewBox="0 0 21 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home" transform="translate(-60.000000, -596.000000)" stroke="#000000">
                        <g id="Group-7" transform="translate(0.000000, 359.000000)">
                            <g id="Group-4" transform="translate(61.000000, 238.000000)">
                                <polyline id="Rectangle-3" points="19 27.1333333 9.5 36.6916667 -6.92779167e-14 27.1333333"></polyline>
                                <path d="M9.5,36.075 L9.5,0.260520464" id="Line" stroke-linecap="square"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </span>
        </section>
      </div>

      {{ content }}

    </div>

    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
