<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="main" class="main-wrapper">

      {% include header.html %}

      <div class="m-scene m-scene--fade-in">
        <div class="grid grid--offset">

          <section class="site-intro grid__col-sm-12 grid__col-xlg-11">
            <h1 class="intro-text">
                Hello, I’m a designer and frontend developer living in San Luis Obispo, California.
            </h1>
            <p><a class="capsule-link" href="/about">Learn More</a></p>
          </section>
        </div>

        {{ content }}

        {% include footer.html %}
      </div>
    </div>

    {% include scripts.html %}

  </body>
</html>