<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="main" class="m-scene">
      {% include header.html %}

      <div class="scene-element scene-element--fadein">

        <div class="grid">

          <section class="site-intro grid__col-10">
            <h1 class="intro-text">Hello, I’m a designer and frontend developer living in San Luis Obispo, California.</h1>
            <a class="secondary-link hover-underline hover-underline--on-light" href="/about">Learn More</a>
          </section>
        </div>

        {{ content }}
        {% include footer.html %}
      </div>

    </div>
    {% include scripts.html %}

  </body>

</html>
