---
layout: default
---
<article class="project">

  <header>
    <h1 class="project__title"  >{{ page.title }}</h1>

    <div class="description">
      <div class="description__left"> 
        <p>{{ page.description }}</p>
      </div>

      <div class="description__right">
        {% if page.tags %}
        <ul class="description__tags">
        {% for tag in page.tags %}
          <li>{{ tag }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
